.tw-followCard {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #fff;
}

.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tw-followCard-info {
  display: flex;
  flex-direction: column;
}

.tw-followCard-infoUsername span {
  opacity: 0.6;
}

.tw-followCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.tw-followCard-button {
  margin-left: 16px;
  padding: 6px 16px;
  font-weight: bold;
  border: 0;
  border-radius: 999px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.3s ease backgrond-color;
}

.tw-followCard-button:hover {
  background-color: #ffffffcb;
}

.tw-followCard-button.is-following {
  width: 140px;
  color: #fff;
  border-color: #bbb;
  background: transparent;
}

.tw-followCard-button.is-following:hover {
  background-color: rgba(255, 0, 0, 0.1);
  color: red;
  border-color: red;
  transition: .3s ease all;
}

.tw-followCard-text {
  display: block;
}

.tw-followCard-stopFollow {
  display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-text {
  display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollow {
  display: block;
}