.page {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

h1 {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.fieldset {
  position: relative;
  border: none;
}

.form input,
.form button {
  padding: 10px 20px;
}

.form input:focus,
.form button:focus {
  outline: none;
}

.form input {
  width: 320px;
  border: 1px solid transparent;
}

.form input.input-error {
  border-color: red;
}

.form button {
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  background: dodgerblue;
  cursor: pointer;
}

.error {
  position: absolute;
  bottom: -1rem;
  margin: 0;
  font-size: 0.8rem;
  color: red;
  text-align: center;
}

.loading {
  text-align: center;
}

.placeholder {
  text-align: center;
}

.movies {
  margin: 0;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.movie {
  list-style: none;
  background: #393939;
}

.movie img {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.movie h2,
.movie p {
  margin: 5px;
}
